/* PC */
@media (min-width: 1024px) {
  .mobile-menu-btn {
    display: none;
  }
}

/* Tablet */
@media ((max-width: 1024px) and (min-width:740px)) {
  .mobile-menu-btn {
    display: none;
  }
}

/* Mobile */
@media (max-width: 739px) {
  #header {
    overflow: hidden;
  }

  #header .search-btn {
    display: none;
  }

  #header .mobile-menu-btn {
    position: absolute;
    top: 0;
    right: 0;
  }

  #nav {
    display: block;
  }

  #nav>li {
    display: block;
    float: none;
  }

  #nav>li:first-child {
    display: inline-block;
  }

  #nav>li a {
    display: block;
  }

  #nav .subnav {
    position: initial;
  }

  #nav .subnav li {
    padding: 6px 30px;
    border-bottom: 1px solid #ccc;
    background-color: rgba(45, 45, 45, 0.918);
  }

  #nav .subnav li a {
    color: whitesmoke;
  }

  #content .member-list {
    flex-direction: column;
    margin-bottom: 0;
  }

  #content .member-name {
    margin-bottom: 14px;
  }

  #content .member-item {
    margin-bottom: 56px;
  }

  .place-list {
    flex-direction: column;
  }

  .place-item {
    width: 100%;
  }

  .contact-body {
    flex-direction: column;
    align-items: flex-start;
    margin-top: 30px;
  }

  .contact-body__form-info {
    flex-wrap: wrap;
  }

  .contact-body__form {
    padding-top: 0;
  }

  .contact-body__form-info--name,
  .contact-body__form-info--email {
    width: 100%;
  }

  .contact-body__form-info--name {
    margin: 10px 0;
  }

  .contact-body__form-btn {
    width: 100%;
    padding: 15px 0;
  }
}