/* Reset css */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

html {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 62.5%;
  scroll-behavior: smooth;
}

.clear {
  clear: both;
}

.text-white {
  color: white !important;
}

#header {
  height: 50px;
  background-color: #000;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 1;
}

#nav {
  display: inline-block;
}

#nav,
.subnav {
  list-style: none;
}

#nav>li {
  display: inline-block;
  float: left;
  position: relative;
}

#nav>li>a {
  color: white;
  padding: 0 24px;
  line-height: 50px;
  font-size: 1.5rem;
  display: inline-block;
  text-transform: uppercase;
}

#nav>li:hover>a {
  background-color: #ccc;
  color: #000;
}

#nav>li:hover>.subnav {
  display: block;
}

#nav .subnav {
  display: none;
  position: absolute;
  background-color: #fff;
  box-shadow: 0 5px 24px 1px #aeaeae;
  min-width: 160px;
  top: 100%;
  left: 0;
}

#nav .subnav li {
  display: block;
  width: 100%;
  line-height: 40px;
  font-size: 1.8rem;
}

#nav .subnav li a {
  width: 100%;
  display: block;
  padding: 0 20px 0 10px;
  color: #000;
  font-size: 16px;
}

#nav .subnav li:hover a {
  background-color: #ccc;
  color: #000;
}

#header .mobile-menu-btn,
#header .search-btn {
  color: white;
  float: right;
}

#header .search-btn:hover {
  background-color: #f44336;
  cursor: pointer;
}

#header .mobile-menu-btn i:hover {
  background-color: #f44336;
}

#header .mobile-menu-btn i,
#header .search-icon {
  line-height: 50px;
  padding: 1px 35px;
  font-size: 20px;
}

#slider {
  position: relative;
  margin-top: 50px;
  padding-top: 50%;
  background: url(/assets/imgs/slider/slider1.jpg) top center / cover no-repeat;
}

.text-content {
  position: absolute;
  text-align: center;
  width: 100%;
  bottom: 35px;
}

.text-heading {
  font-size: 30px;
  font-weight: 500;
  color: red;
}

.text-desc {
  margin-top: 10px;
  font-size: 18px;
  color: yellowgreen;
}


#content .content-section {
  width: 800px;
  max-width: 100%;
  margin: 0 auto;
  padding: 64px 20px;
}

#content .section-heading {
  font-size: 3rem;
  font-weight: 600;
  letter-spacing: 5px;
  margin-bottom: 25px;
}

#content .content-section .section-heading {
  color: violet;
}

#content .section-heading,
#content .section-sub-heading {
  text-align: center;
}

#content .section-sub-heading {
  font-style: italic;
  font-size: 1.38rem;
  opacity: 0.8;
  margin-bottom: 35px;
}

#content .about-text {
  text-align: justify;
  font-size: 16px;
  line-height: 1.4;
  margin-bottom: 50px;
}

#content .member-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-bottom: 50px;
}

#content .member-item {
  margin: 0 10px;
}

#content .member-name {
  text-align: center;
  font-size: 18px;
  margin-bottom: 20px;
  background: -webkit-linear-gradient(rgba(0, 0, 255, 0.801), rgba(0, 255, 255, 0.888));
  color: whitesmoke;
}

#content .member-img {
  width: 170px;
  height: 200px;
  border-radius: 10px;
  transition: transform 0.5s ease;
}

#content .member-img:hover {
  transform: translateY(-6px);
  box-shadow: 0 4px 10px 5px #ccc;
}

/* Tour section */
.tour-section {
  background-color: black;
}

.tickets-list {
  background-color: #fff;
  width: 100%;
  list-style: none;
}

.tickets-list li {
  padding: 8px 16px;
  font-size: 16px;
  color: #4c4c4cf2;
  border-bottom: 0.8px solid #ccc;
}

.sold-out {
  color: white;
  background-color: rgb(244, 67, 54);
  padding: 2px 8px;
  margin-left: 15px;
}

.quantity {
  background-color: black;
  color: white;
  padding: 5px 5px;
  border-radius: 100%;
  float: right;
  margin-top: -5px;
  margin-right: 10px;
}

/* Places */
.place-list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 35px 0;
  gap: 20px;
}

.place-item {
  width: 33.33%;
  background-color: #fff;
  padding: 0 0 10px;
}

.place-img {
  width: 100%;
  height: 190px;
  transition: transform 0.5s ease;
}

.place-img:hover {
  transform: scale(1.1);
}

.place-body {
  padding: 12px 10px 8px;
}

.place-heading {
  font-size: 15px;
  background: -webkit-linear-gradient(orange, red);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.place-time {
  margin: 15px 0;
  font-size: 13px;
  color: #666666d6;
  font-weight: 600;
}

.place-desc {
  margin: 19px 0 30px;
  font-size: small;
  color: black;
}

.place-buy-btn {
  background-color: black;
  color: white;
  padding: 8px 16px;
  margin-bottom: 12px;
  font-size: 15px;
}

.place-buy-btn:hover {
  background-color: rgba(128, 128, 128, 0.498);
  color: black;
}

/* Contact section */
.contact-section {
  padding: 70px 16px 105px;
  max-width: 800px;
  margin: 0 auto;
}

.contact-section .section-heading {
  color: black;
}

.contact-body {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: -14px;
}

.contact-body__form {
  padding-top: 30px;
}

.contact-body__content-info {
  font-size: 17px;
  margin: 11px 0;
}

.contact-body__content-info i {
  margin-right: 10px;
}

.contact-body__form-info {
  margin: 10px 0;
}

.contact-body__form-info:first-child {
  display: flex;
  justify-content: space-between;
}

.contact-body__form-info--name {
  padding: 12px 10px;
  width: calc(50% - 15px);
  border-radius: 6px;
}

.contact-body__form-info--email {
  padding: 12px 10px;
  width: calc(50% - 15px);
  border-radius: 6px;
}

.contact-body__form-message {
  width: 100%;
  padding: 12px 10px;
  border-radius: 6px;
}

.contact-body__form-btn {
  padding: 10px 20px;
  border-radius: 5px;
  border: none;
  cursor: pointer;
  background-color: rgb(0, 123, 255);
  color: white;
  float: right;
  margin-top: 6px;
}

.contact-body__form-btn:hover {
  opacity: 0.8;
}

/* Map section */
.map-section img {
  width: 100%;
}

/* Footer section */
#footer {
  text-align: center;
  padding: 65px 16px;
}

#footer i {
  font-size: 27px;
  margin: 0 3px;
}

#footer i:hover {
  opacity: 0.7;
}

#footer p {
  font-size: 16px;
  margin-top: 18px;
  color: gray;
}

#footer p a {
  color: gray;
  text-decoration: underline;
}

/* Modal */
.modal {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.3);
  display: none;
  align-items: center;
  justify-content: center;
}

.modal-container {
  position: relative;
  background-color: white;
  width: 900px;
  min-height: 430px;
  max-width: calc(100% - 35px);
}

.modal-close {
  position: absolute;
  top: 0;
  right: 0;
  padding: 17px 20px;
  font-size: 14px;
  color: white;
}

.modal-close:hover {
  cursor: pointer;
  background-color: gray;
  color: red;
}

.modal-header {
  background-color: rgb(0, 150, 136);
  color: whitesmoke;
  text-align: center;
  padding: 40px 16px;
  font-size: 40px;
  letter-spacing: 5px;
}

.modal-body {
  padding: 0 20px;
}

.modal-label {
  display: inline-block;
  margin: 20px 0 10px;
  font-size: 17px;
}

.modal-input {
  width: 100%;
  border: 1px solid #ccc;
  line-height: 3;
  margin-bottom: 15px;
  padding: 2px 12px;
}

#buy-tickets {
  width: 100%;
  padding: 15px 0;
  color: white;
  background-color: rgb(0, 150, 136);
  border: none;
  font-weight: 700;
  margin-top: 20px;
}

#buy-tickets:hover {
  cursor: pointer;
  opacity: 0.8;
}

.modal-help {
  margin-top: 20px;
  float: right;
  font-size: medium;
  text-decoration: underline;
  padding-bottom: 10px;
  color: rgb(0, 157, 255);
}

.modal-help a {
  color: rgb(0, 157, 255);
}

.modal.open {
  display: flex;
}